<div class="container">

  <div class="row justify-content-center align-items-center full-page">
    <div class="col-md-4 col-12 my-2">
      <img src="images/zesty_ahh_monkey.png" class="object-contain w-100 h-100 main max-h-500" alt="Zesty ahh Monkey" >
    </div>
    <div class="col-md-6 col-12 my-2">

      <h1 class="fw-bold display-4 mb-0" >HI, I'm <span class="text-highlight" >Loeka Peeters</span></h1>
      <h3 class="text-muted mb-4" >Audiovisueel (AV) student</h3>
      <h6 class="text-secondary mb-4" >Gemotiveerde AV student momenteel stage aan het lopen bij Beeldsterk. Vrijwillger bij Omroep P&M</h6>
      <div>
        <a class="btn btn-outline-highlight me-2" (click)="openPage('contact')" >Contact me</a>
        <a class="btn btn-highlight" (click)="openPage('portfolio')" >Portfolio</a>
      </div>

    </div>


  </div>

</div>
