<nav class="navbar">
  <div class="container">
<!--    <div class="navbar-logo">-->
<!--      <a (click)="openPage('')" class="brand-link">-->
<!--        <span class="brand-text">Kadoenkel</span>-->
<!--      </a>-->
<!--    </div>-->

    <div class="navbar-menu">
      <div class="navbar-item">
        <a (click)="openPage('')" class="navbar-link">Home</a>
      </div>
      <div class="navbar-item">
        <a (click)="openPage('portfolio')" class="navbar-link">Portfolio</a>
      </div>
      <div class="navbar-item">
        <a (click)="openPage('contact')" class="navbar-link">Contact</a>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-item">
        <a>
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="navbar-item">
        <a>
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
      <div class="navbar-item">
        <a>
          <img src="svg/onlyfans.svg" height="16" >
        </a>
      </div>
      <div class="navbar-item">
        <a>
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>

    </div>

  </div>
</nav>
